<html>
  <head>
	  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>i5ting_ztree_toc:vue</title>
		<link href="toc/style/github-bf51422f4bb36427d391e4b75a1daa083c2d840e.css" media="all" rel="stylesheet" type="text/css"/>
		<link href="toc/style/github2-d731afd4f624c99a4b19ad69f3083cd6d02b81d5.css" media="all" rel="stylesheet" type="text/css"/>
		<link href="toc/css/zTreeStyle/zTreeStyle.css" media="all" rel="stylesheet" type="text/css"/>
	  <style>
		pre {
		    counter-reset: line-numbering;
		    border: solid 1px #d9d9d9;
		    border-radius: 0;
		    background: #fff;
		    padding: 0;
		    line-height: 23px;
		    margin-bottom: 30px;
		    white-space: pre;
		    overflow-x: auto;
		    word-break: inherit;
		    word-wrap: inherit;
		}

		pre a::before {
		  content: counter(line-numbering);
		  counter-increment: line-numbering;
		  padding-right: 1em; /* space after numbers */
		  width: 25px;
		  text-align: right;
		  opacity: 0.7;
		  display: inline-block;
		  color: #aaa;
		  background: #eee;
		  margin-right: 16px;
		  padding: 2px 10px;
		  font-size: 13px;
		  -webkit-touch-callout: none;
		  -webkit-user-select: none;
		  -khtml-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}

		pre a:first-of-type::before {
		  padding-top: 10px;
		}

		pre a:last-of-type::before {
		  padding-bottom: 10px;
		}

		pre a:only-of-type::before {
		  padding: 10px;
		}

		.highlight { background-color: #ffffcc } /* RIGHT */
		</style>
  </head>
  <body>
	  <div>
				<div style='width:25%;'>
						<ul id="tree" class="ztree" style='width:100%'>

						</ul>
				</div>
        <div id='readme' style='width:70%;margin-left:20%;'>
          	<article class='markdown-body'>
            	<h1 id="-">代码规范</h1>
<h2 id="v-for-v-if-">v-for和v-if一起使用</h2>
<p>当 v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级，这意味着 v-if 将分别重复运行于每个 v-for 循环中。所以，不推荐v-if和v-for同时使用。   </p>
<pre><code>plans: [
  { id: 0, stage: &#39;预付款&#39;, due_money: 0 },
  { id: 1, stage: &#39;待付款&#39;, due_money: 2 },
  { id: 2, stage: &#39;已付款&#39;, due_money: -1 },
  { id: 3, stage: &#39;啦啦啦&#39;, due_money: 30 },
  { id: 4, stage: &#39;其它&#39;, due_money: 10 },
]
</code></pre><pre><code>&lt;div v-for=&quot;item in plans&quot; :key=&quot;item.id&quot; v-if=&quot;item.due_money &gt; 0&quot;&gt;
  &lt;span&gt;{{type.stage + &#39; &#39; + type.due_money}}&lt;/span&gt;
&lt;/div&gt;
</code></pre><p>如果是按照条件渲染相应div，其实这样写对页面没问题，但在vue3中调整了优先级，对维护有麻烦，还是不太建议这么做。<br>可以用计算属性过滤不符合的元素。</p>
<pre><code>&lt;div v-for=&quot;item in plansData&quot; :key=&quot;item.id&quot;&gt;
  &lt;span&gt;{{type.stage + &#39; &#39; + type.due_money}}&lt;/span&gt;
&lt;/div&gt;

computed: {
  plansData() {
    return plans.filter(o =&gt; o.due_money &gt; 0);
  }
}
</code></pre><p>如果是在表格中，每行元素不确定的情况下，可用计算属性传参。</p>
<pre><code>&lt;el-table-column&gt;
  &lt;template slot-scope=&quot;scope&quot;&gt;
    &lt;div v-for=&quot;item in Plans(scope.row.plans)&quot; :key=&quot;item.id&quot;&gt;
      &lt;span&gt;{{type.stage + &#39; &#39; + type.due_money}}&lt;/span&gt;
    &lt;/div&gt;
  &lt;/template&gt;
&lt;/el-table-column&gt;

computed: {
  plansData() {
    return data =&gt; data.filter(o =&gt; o.due_money &gt; 0);
  }
}
</code></pre><h1 id="-">项目中遇到的一些问题</h1>
<h2 id="props-">props传参时，父组件数据改变，子组件未更新</h2>
<p>在父组件创建的时候，已经创建了相关的子组件，该子组件已经缓存在内存中，在通过其他事件改变父组件传给子组件的值时就会不生效
parent.vue</p>
<pre><code>&lt;template&gt;
  &lt;child :info=&quot;info&quot;&gt;&lt;/child&gt;
&lt;/template&gt;
&lt;script&gt;
  export defalt {
    data() {
      info: []
    },
    getList() {
      api.getDetail().then(res =&gt; {
        // 通常是调取后端接口修改数据后子组件没有及时更新
        // 尤其是内部数据多，多重数组和对象嵌套时，内部数据更新问题
        this.info = res.data
      })
    }
  }
&lt;/script&gt;
</code></pre><p>child.vue</p>
<pre><code>&lt;template&gt;
  &lt;div&gt;
    &lt;el-table :props=&quot;info.table&gt;
      &lt;el-table-column :props=&quot;name&gt;&lt;/el-table-column&gt;
      ···
    &lt;/el-table&gt;
    &lt;div&gt;
      &lt;!-- 内部多次嵌套组件，更容易出现这种情况 --&gt;
      ··· info.other.other.data ···
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;
&lt;script&gt;
  export defalt {
    props: {
      info: Object
    }
  }
&lt;/script&gt;
</code></pre><p><strong>1、子组件加上v-if，等父组件数据获取后再渲染</strong><br>如果提交信息时含有必填项目或者某些表格至少填一项，可用获取到数据的某一项对子组件用v-if判断渲染</p>
<pre><code>&lt;child v-if=&quot;info.table.length !== 0&quot; :info=&quot;info&quot;&gt;&lt;/child&gt;
// 如果有报错类似info下没有table, 修改父组件定义变量
info: { 
  table: [] 
}
</code></pre><p><strong>2、用$nextTick()</strong><br>在赋值时使用，可以先赋值，后渲染或者更新DOM</p>
<pre><code>getList() {
  api.getDetail().then(res =&gt; {
    this.$nextTick(() =&gt; {
      this.info = res.data
    })
  })
}
</code></pre><p><strong>3、利用watch监听</strong><br>多次看到这种方法，但是有时候监听不到变化，或者出现监听到也没有更新DOM</p>
<pre><code>//修改子组件
&lt;script&gt;
  export defalt {
    props: {
      info: Object
    },
    data() {
      return {
        infoChild: this.info
      }
    },
    watch: {
      info(val) {
        this.infoChild = val;
      },
      infoChild(val) {
        // 这里的监听是看到了，但是没有实践过
        this.$emit(&#39;info&#39;, val);
      }
    }
  }
&lt;/script&gt;
</code></pre><p><strong>4、1和2相结合</strong>  </p>
<pre><code>&lt;child v-if=&quot;flag&quot; :info=&quot;info&quot;&gt;&lt;/child&gt;
···
getList() {
  这种方式不局限于api请求，包括赋值情况也可这么做
  this.flag = false;
  api.getDetail().then(res =&gt; {
    this.$nextTick(() =&gt; {
      this.info = res.data
      this.flag = true;
    })
  })
}
</code></pre><p><strong>如果有子组件调用父组件方法（子组件点击事件，父组件需要执行一些相关操作），与平时无异</strong></p>
<h2 id="-data-">对整个data赋值</h2>
<p>有时候需要对几乎整个页面数据做缓存，创建页面时赋初始值需要对整个data赋值，不能直接用this.$data = ···，考虑循环赋值   </p>
<pre><code>// 存储
localStorage.setItem(&#39;count&#39;, JSON.stringify(this.$data));

//创建赋初始值
created() {
  const data = JSON.parse(localStorage.getItem(&#39;count));
  for(let prop in data) {   // 循环赋值
    this.$set(this, [prop], data[prop]);
  }
}
</code></pre><h2 id="elementui-">elementUI组件</h2>
<h3 id="el-table">el-table</h3>
<h4 id="-">拆分单元格</h4>
<p>数组中嵌套数组（多级分类），需要拆分单元格来展示表格数据的情况<br>具体表现为一行对应多行的格式  </p>
<pre><code>list: [   // 三级分类实例数据，第一层是申请表格，可填多个物品信息，第二层为物品信息，第三层为物品下的入库记录
  {
    id: 1, 
    purchase: [  //物品
      {
        name: &#39;物品1&#39;, 
        type: &#39;科目1&#39;,
        number: 2,
        purchaseIn: [   //入库
          { person: &#39;小红&#39;, time: &#39;2021-4-15&#39;, number: 1},
          { person: &#39;小明&#39;, time: &#39;2021-4-16&#39;, number: 2}
        ]
      },
      {
        name: &#39;物品2&#39;, 
        type: &#39;科目2&#39;,
        number: 10,
        purchaseIn: [
          { person: &#39;小王&#39;, time: &#39;2021-4-17&#39;, number: 3},
          { person: &#39;小赵&#39;, time: &#39;2021-4-18&#39;, number: 4},
          { person: &#39;小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴&#39;, time: &#39;2021-4-18&#39;, number: 4}
        ]
      },
    ]
  }, {
    id: 2, 
    purchase: [
      {
        name: &#39;物品1&#39;, 
        type: &#39;科目1&#39;,
        number: 2,
        purchaseIn: [
          { person: &#39;小红&#39;, time: &#39;2021-4-15&#39;, number: 1},
        ]
      },
      {
        name: &#39;物品2&#39;, 
        type: &#39;科目2&#39;,
        number: 10,
        purchaseIn: [
          { person: &#39;小王&#39;, time: &#39;2021-4-17&#39;, number: 3},
          { person: &#39;小赵&#39;, time: &#39;2021-4-18&#39;, number: 4},
          { person: &#39;小吴&#39;, time: &#39;2021-4-18&#39;, number: 4}
        ]
      },
    ]
  }, {
    id: 2, 
    purchase: [
      {
        name: &#39;物品1&#39;, 
        type: &#39;科目1&#39;,
        number: 2,
        purchaseIn: []
      },
      {
        name: &#39;物品2&#39;, 
        type: &#39;科目2&#39;,
        number: 10,
        purchaseIn: [
          { person: &#39;小王&#39;, time: &#39;2021-4-17&#39;, number: 3},
          { person: &#39;小赵&#39;, time: &#39;2021-4-18&#39;, number: 4},
          { person: &#39;小吴&#39;, time: &#39;2021-4-18&#39;, number: 4}
        ]
      },
    ]
  }
]
</code></pre><p><strong>1、只嵌套了一层（无内部purchaseIn）</strong><br>当时参考了之前的代码，用嵌套table的方式来实现拆分展示</p>
<pre><code>&lt;template&gt;
  &lt;el-table :data=&quot;List&quot; border class=&quot;launch-purchase-l-t&quot;&gt;
    &lt;el-table-column type=&quot;index&quot; width=&quot;80&quot; align=&quot;center&quot; label=&quot;序号&quot;&gt;&lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;物品名称&quot; class-name=&quot;none-padding&quot; align=&quot;center&quot;&gt;
      &lt;template slot-scope=&quot;scope&quot;&gt;
        &lt;el-table :data=&quot;scope.row.purchase&quot; :show-header=&quot;false&quot;&gt;
          &lt;el-table-column prop=&quot;name&quot; align=&quot;center&quot;&gt;&lt;/el-table-column&gt;
        &lt;/el-table&gt;
      &lt;/template&gt;
    &lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;科目&quot; class-name=&quot;none-padding&quot; align=&quot;center&quot;&gt;
      &lt;template slot-scope=&quot;scope&quot;&gt;
        &lt;el-table :data=&quot;scope.row.purchase&quot; :show-header=&quot;false&quot;&gt;
          &lt;el-table-column prop=&quot;type&quot; align=&quot;center&quot;&gt;&lt;/el-table-column&gt;
        &lt;/el-table&gt;
      &lt;/template&gt;
    &lt;/el-table-column&gt;
  &lt;el-table&gt;
&lt;/template&gt;
&lt;style&gt;
.launch-purchase-l-t {
  // 去除内部嵌套表格的边框
  .none-padding .cell {
    padding: 0;
    .el-table {
      border: none;
    }
    .el-table::before, .el-table::after {
      background-color: #FFFFFF;
    }
  }
  td {
    height: 44px;
  }
}
&lt;/style&gt;
</code></pre><p>如果没有分页，且数据不多，不考虑固定列的情况下可以直接使用原生table，进行合并单元格（ele 1.4版本不支持，后新版本的可合并单元格，但分页仍不适用），可支持表格外层嵌套div用于表格过宽，scroll展示，且不用考虑td内部数据过长的问题，会自动换行</p>
<pre><code>&lt;table class=&quot;span-table&quot; border cellspacing=&quot;0&quot; style=&quot;width: 100%&quot;&gt;
  &lt;thead&gt;
    &lt;th style=&quot;width: 80px;&quot;&gt;序号&lt;/th&gt;
    &lt;th style=&quot;width: 160px;&quot;&gt;ID&lt;/th&gt;
    &lt;th style=&quot;width: 240px;&quot;&gt;姓名&lt;/th&gt;
    &lt;th style=&quot;width: 320px;&quot;&gt;数量&lt;/th&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;template v-if=&quot;list.length &gt; 0&quot;&gt;
      &lt;template v-for=&quot;(item, index) in list&quot;&gt; 
        &lt;tr v-for=&quot;(good, i) in item.purchase&quot; :key=&quot;i&quot;&gt;
          &lt;td :rowspan=&quot;item.purchase.length&quot; v-if=&quot;i === 0&quot;&gt;{{index + 1}}&lt;/td&gt;
          &lt;td :rowspan=&quot;item.purchase.length&quot; v-if=&quot;i === 0&quot;&gt;{{item.id}}&lt;/td&gt;
          &lt;td&gt;{{good.name}}&lt;/td&gt;
          &lt;td&gt;{{good.number}}&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/template&gt;
    &lt;/template&gt;
    &lt;template v-else&gt;
      &lt;!-- 没有数据展示为一行提示 --&gt;
      &lt;tr&gt;
        &lt;td colspan=&quot;7&quot;&gt;&lt;/td&gt;   
      &lt;/tr&gt;
    &lt;/template&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</code></pre><p><img src="./toc/images/vue/项目01.png" alt="运行结果展示"><br><strong>2、三层（内部含有purchaseIn）</strong><br>内部嵌套div，这种方式应该也可用于两层嵌套，且不用考虑单元格高度（自动撑开）和去除内部单元格边框</p>
<pre><code>&lt;template&gt;
  &lt;el-table :data=&quot;list&quot; border style=&quot;width: 100%&quot;&gt; 
    &lt;el-table-column label=&quot;序号&quot; type=&quot;index&quot; width=&quot;200&quot; fixed align=&quot;center&quot;&gt;&lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;姓名&quot; prop=&quot;name&quot; width=&quot;200&quot; fixed align=&quot;center&quot;&gt;
      &lt;template slot-scope=&quot;scope&quot;&gt;
        &lt;!-- 第二层div的高度需要根据第三层数据判断，且考虑第三层有空数据的情况 --&gt;
        &lt;div v-for=&quot;(item, index) in scope.row.purchase&quot; 
          class=&quot;internal-td internal-td-middle&quot; 
          :style=&quot;{ height: 40 * (scope.row.purchase[index].purchaseIn.length || 1) + scope.row.purchase[index].purchaseIn.length + &#39;px&#39; }&quot;&gt;
          {{ item.name }}
        &lt;/div&gt;
      &lt;/template&gt;
    &lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;采购人&quot; prop=&quot;number&quot; width=&quot;400&quot; align=&quot;center&quot;&gt;
      &lt;template slot-scope=&quot;scope&quot;&gt;
        &lt;div v-for=&quot;item in scope.row.purchase&quot; class=&quot;internal-td&quot;&gt;
          &lt;div v-if=&quot;item.purchaseIn.length === 0&quot; class=&quot;internal-td&quot; style=&quot;height: 39px;&quot;&gt;&lt;/div&gt;
          &lt;div v-else v-for=&quot;item1 in item.purchaseIn&quot; class=&quot;internal-td internal-td-middle&quot; style=&quot;line-height: 40px;&quot;&gt;
            &lt;span&gt;{{ item1.person }}&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/template&gt;
    &lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;科目&quot; prop=&quot;type&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;数量&quot; prop=&quot;number&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;采购时间&quot; prop=&quot;number&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;采购数量&quot; prop=&quot;number&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
    &lt;el-table-column label=&quot;操作&quot; width=&quot;200&quot; fixed=&quot;right&quot;&gt;
      &lt;template&gt;
        查看
      &lt;/template&gt;
    &lt;/el-table-column&gt;
  &lt;/el-table&gt;
&lt;/template&gt;
&lt;style&gt;
  // 消除单元格内边距，内部div需要添加边框，判断数据长度和鼠标移入效果
  .el-table .cell {
    padding: 0;
  }
  .internal-td {
    border-bottom: 1px solid #dfe6ec;
    background-color: white;
    transition: background-color .25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .internal-td:hover {
    background-color: #EEF1F6;
  }
  .internal-td:last-child {
    border-bottom: 1px solid white;
  }
  .internal-td-middle span {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
&lt;/style&gt;
</code></pre><p>合并单元格方式</p>
<pre><code>&lt;div style=&quot;width: 100%; overflow-x: scroll;&quot;&gt;
  &lt;table class=&quot;span-table&quot; border cellspacing=&quot;0&quot; style=&quot;width: 200%&quot;&gt;
    &lt;thead&gt;
      &lt;th style=&quot;width: 80px;&quot;&gt;序号&lt;/th&gt;
      &lt;th style=&quot;width: 160px;&quot;&gt;ID&lt;/th&gt;
      &lt;th style=&quot;width: 240px;&quot;&gt;姓名&lt;/th&gt;
      &lt;th style=&quot;width: 320px;&quot;&gt;采购人&lt;/th&gt;
      &lt;th style=&quot;width: 2000px;&quot;&gt;数量&lt;/th&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;template v-if=&quot;list.length &gt; 0&quot;&gt;
        &lt;template v-for=&quot;(item, index) in list&quot;&gt; 
          &lt;template v-for=&quot;(good, goodIndex) in item.purchase&quot;&gt; 
            &lt;tr v-for=&quot;(purchaseIn, purchaseIndex) in good.purchaseIn&quot;&gt;
              &lt;td 
                :rowspan=&quot;item.purchase.reduce((m, n) =&gt; { return m.purchaseIn.length + n.purchaseIn.length })&quot;
                v-if=&quot;goodIndex === 0 &amp;&amp; purchaseIndex === 0&quot;
              &gt;{{ index + 1 }}&lt;/td&gt;
              &lt;td
                :rowspan=&quot;item.purchase.reduce((m, n) =&gt; { return m.purchaseIn.length + n.purchaseIn.length })&quot;
                v-if=&quot;goodIndex === 0 &amp;&amp; purchaseIndex === 0&quot;
              &gt;{{item.id}}&lt;/td&gt;
              &lt;td :rowspan=&quot;good.purchaseIn.length&quot; v-if=&quot;purchaseIndex === 0&quot;&gt;{{good.name}}&lt;/td&gt;
              &lt;td&gt;{{purchaseIn.person}}&lt;/td&gt;
              &lt;td :rowspan=&quot;good.purchaseIn.length&quot; v-if=&quot;purchaseIndex === 0&quot;&gt;{{good.number}}&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/template&gt;
        &lt;/template&gt;
      &lt;/template&gt;
      &lt;template v-else&gt;
        &lt;tr&gt;
          &lt;td colspan=&quot;7&quot;&gt;&lt;/td&gt;   
        &lt;/tr&gt;
      &lt;/template&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code></pre><p><img src="./toc/images/vue/项目02.png" alt="运行演示">     </p>
<p><strong>上述实例部分代码，引入elementUI和vue可直接测试使用</strong></p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
  &lt;title&gt;element表格三级分类&lt;/title&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;./elementui@1.4.css&quot;&gt;
  &lt;style&gt;
    .el-table {
      border: none;
    }
    .el-table .cell {
      padding: 0;
    }
    .el-table::after, .el-table::before {
      background: white;
    }
    .internal-td {
      border-bottom: 1px solid #dfe6ec;
      background-color: white;
      transition: background-color .25s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
    }
    .internal-td:hover {
      background-color: #EEF1F6;
    }
    .internal-td:last-child {
      border-bottom: 1px solid white;
    }
    .internal-td-middle span {
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .span-table {
      border-color: #DFE6EC;
    }
    .span-table th, .span-table td {
      text-align: center;
      height: 44px;
      border-color: #DFE6EC;
    }
    .span-table th {
      background: #EEF1F6;
    }
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div id=&quot;app&quot;&gt;
    &lt;el-table :data=&quot;list&quot; border style=&quot;width: 100%&quot;&gt; 
      &lt;el-table-column label=&quot;序号&quot; type=&quot;index&quot; width=&quot;200&quot; fixed align=&quot;center&quot;&gt;&lt;/el-table-column&gt;
      &lt;el-table-column label=&quot;姓名&quot; prop=&quot;name&quot; width=&quot;200&quot; fixed align=&quot;center&quot;&gt;
        &lt;template slot-scope=&quot;scope&quot;&gt;
          &lt;div v-for=&quot;(item, index) in scope.row.purchase&quot; 
            class=&quot;internal-td internal-td-middle&quot; 
            :style=&quot;{ height: 40 * (scope.row.purchase[index].purchaseIn.length || 1) + scope.row.purchase[index].purchaseIn.length + &#39;px&#39; }&quot;&gt;
            {{ item.name }}
          &lt;/div&gt;
        &lt;/template&gt;
      &lt;/el-table-column&gt;
      &lt;el-table-column label=&quot;采购人&quot; prop=&quot;number&quot; width=&quot;400&quot; align=&quot;center&quot;&gt;
        &lt;template slot-scope=&quot;scope&quot;&gt;
          &lt;div v-for=&quot;item in scope.row.purchase&quot; class=&quot;internal-td&quot;&gt;
            &lt;div v-if=&quot;item.purchaseIn.length === 0&quot; class=&quot;internal-td&quot; style=&quot;height: 39px;&quot;&gt;&lt;/div&gt;
            &lt;div v-else v-for=&quot;item1 in item.purchaseIn&quot; class=&quot;internal-td internal-td-middle&quot; style=&quot;line-height: 40px;&quot;&gt;
              &lt;span&gt;{{ item1.person }}&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/template&gt;
      &lt;/el-table-column&gt;
      &lt;el-table-column label=&quot;科目&quot; prop=&quot;type&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
      &lt;el-table-column label=&quot;数量&quot; prop=&quot;number&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
      &lt;el-table-column label=&quot;采购时间&quot; prop=&quot;number&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
      &lt;el-table-column label=&quot;采购数量&quot; prop=&quot;number&quot; width=&quot;400&quot;&gt;&lt;/el-table-column&gt;
      &lt;el-table-column label=&quot;操作&quot; width=&quot;200&quot; fixed=&quot;right&quot;&gt;
        &lt;template&gt;
          查看
        &lt;/template&gt;
      &lt;/el-table-column&gt;
    &lt;/el-table&gt;

    &lt;div style=&quot;margin: 30px 0; height: 1px; background: #ddd;&quot;&gt;&lt;/div&gt;

    &lt;table class=&quot;span-table&quot; border cellspacing=&quot;0&quot; style=&quot;width: 100%&quot;&gt;
      &lt;thead&gt;
        &lt;th style=&quot;width: 80px;&quot;&gt;序号&lt;/th&gt;
        &lt;th style=&quot;width: 160px;&quot;&gt;ID&lt;/th&gt;
        &lt;th style=&quot;width: 240px;&quot;&gt;姓名&lt;/th&gt;
        &lt;th style=&quot;width: 320px;&quot;&gt;数量&lt;/th&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;template v-if=&quot;list.length &gt; 0&quot;&gt;
          &lt;template v-for=&quot;(item, index) in list&quot;&gt; 
            &lt;tr v-for=&quot;(good, i) in item.purchase&quot; :key=&quot;i&quot;&gt;
              &lt;td :rowspan=&quot;item.purchase.length&quot; v-if=&quot;i === 0&quot;&gt;{{index + 1}}&lt;/td&gt;
              &lt;td :rowspan=&quot;item.purchase.length&quot; v-if=&quot;i === 0&quot;&gt;{{item.id}}&lt;/td&gt;
              &lt;td&gt;{{good.name}}&lt;/td&gt;
              &lt;td&gt;{{good.number}}&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/template&gt;
        &lt;/template&gt;
        &lt;template v-else&gt;
          &lt;!-- 没有数据展示为一行提示 --&gt;
          &lt;tr&gt;
            &lt;td colspan=&quot;7&quot;&gt;&lt;/td&gt;   
          &lt;/tr&gt;
        &lt;/template&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;

    &lt;div style=&quot;margin: 30px 0; height: 1px; background: #ddd;&quot;&gt;&lt;/div&gt;

    &lt;div style=&quot;width: 100%; overflow-x: scroll;&quot;&gt;
      &lt;table class=&quot;span-table&quot; border cellspacing=&quot;0&quot; style=&quot;width: 200%&quot;&gt;
        &lt;thead&gt;
          &lt;th style=&quot;width: 80px;&quot;&gt;序号&lt;/th&gt;
          &lt;th style=&quot;width: 160px;&quot;&gt;ID&lt;/th&gt;
          &lt;th style=&quot;width: 240px;&quot;&gt;姓名&lt;/th&gt;
          &lt;th style=&quot;width: 320px;&quot;&gt;采购人&lt;/th&gt;
          &lt;th style=&quot;width: 2000px;&quot;&gt;数量&lt;/th&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
          &lt;template v-if=&quot;list.length &gt; 0&quot;&gt;
            &lt;template v-for=&quot;(item, index) in list&quot;&gt; 
              &lt;template v-for=&quot;(good, goodIndex) in item.purchase&quot;&gt; 
                &lt;tr v-for=&quot;(purchaseIn, purchaseIndex) in good.purchaseIn&quot;&gt;
                  &lt;td 
                    :rowspan=&quot;item.purchase.reduce((m, n) =&gt; { return m.purchaseIn.length + n.purchaseIn.length })&quot;
                    v-if=&quot;goodIndex === 0 &amp;&amp; purchaseIndex === 0&quot;
                  &gt;{{ index + 1 }}&lt;/td&gt;
                  &lt;td
                    :rowspan=&quot;item.purchase.reduce((m, n) =&gt; { return m.purchaseIn.length + n.purchaseIn.length })&quot;
                    v-if=&quot;goodIndex === 0 &amp;&amp; purchaseIndex === 0&quot;
                  &gt;{{item.id}}&lt;/td&gt;
                  &lt;td :rowspan=&quot;good.purchaseIn.length&quot; v-if=&quot;purchaseIndex === 0&quot;&gt;{{good.name}}&lt;/td&gt;
                  &lt;td&gt;{{purchaseIn.person}}&lt;/td&gt;
                  &lt;td :rowspan=&quot;good.purchaseIn.length&quot; v-if=&quot;purchaseIndex === 0&quot;&gt;{{good.number}}&lt;/td&gt;
                &lt;/tr&gt;
              &lt;/template&gt;
            &lt;/template&gt;
          &lt;/template&gt;
          &lt;template v-else&gt;
            &lt;tr&gt;
              &lt;td colspan=&quot;7&quot;&gt;&lt;/td&gt;   
            &lt;/tr&gt;
          &lt;/template&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    &lt;/div&gt;

    &lt;div style=&quot;margin: 30px 0 100px; height: 1px; background: #ddd;&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;

  &lt;script src=&quot;./vue-min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;./elementui@1.4.js&quot;&gt;&lt;/script&gt;
  &lt;script&gt;
    new Vue({
      el: &#39;#app&#39;,
      data() {
        return { 
          list: [
            {
              id: &#39;AZ10000000&#39;, 
              purchase: [
                {
                  name: &#39;aaa&#39;, 
                  type: &#39;科目1&#39;,
                  number: 2,
                  purchaseIn: [
                    { person: &#39;小红&#39;, time: &#39;2021-4-15&#39;, number: 1},
                    { person: &#39;小明&#39;, time: &#39;2021-4-16&#39;, number: 2}
                  ]
                },
                {
                  name: &#39;bbb&#39;, 
                  type: &#39;科目2&#39;,
                  number: 10,
                  purchaseIn: [
                    { person: &#39;小王&#39;, time: &#39;2021-4-17&#39;, number: 3},
                    { person: &#39;小赵&#39;, time: &#39;2021-4-18&#39;, number: 4},
                    { person: &#39;小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴小吴&#39;, time: &#39;2021-4-18&#39;, number: 4}
                  ]
                },
              ]
            }, {
              id: &#39;AZ10000001&#39;, 
              purchase: [
                {
                  name: &#39;aaa&#39;, 
                  type: &#39;科目1&#39;,
                  number: 2,
                  purchaseIn: [
                    { person: &#39;小红&#39;, time: &#39;2021-4-15&#39;, number: 1},
                  ]
                },
                {
                  name: &#39;bbb&#39;, 
                  type: &#39;科目2&#39;,
                  number: 10,
                  purchaseIn: [
                    { person: &#39;小王&#39;, time: &#39;2021-4-17&#39;, number: 3},
                    { person: &#39;小赵&#39;, time: &#39;2021-4-18&#39;, number: 4},
                    { person: &#39;小吴&#39;, time: &#39;2021-4-18&#39;, number: 4}
                  ]
                },
              ]
            }, {
              id: &#39;AZ10000002&#39;, 
              purchase: [
                {
                  name: &#39;aaa&#39;, 
                  type: &#39;科目1&#39;,
                  number: 2,
                  purchaseIn: [{ person: &#39;小王&#39;, time: &#39;2021-4-17&#39;, number: 3}]
                },
                {
                  name: &#39;bbb&#39;, 
                  type: &#39;科目2&#39;,
                  number: 10,
                  purchaseIn: [
                    { person: &#39;小王&#39;, time: &#39;2021-4-17&#39;, number: 3},
                    { person: &#39;小赵&#39;, time: &#39;2021-4-18&#39;, number: 4},
                    { person: &#39;小吴&#39;, time: &#39;2021-4-18&#39;, number: 4}
                  ]
                },
              ]
            }
          ]
         }
      }
    })
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre><h4 id="-">根据状态值展示相应状态</h4>
<p>最简单的一种方法：根据状态值用v-if进行渲染数据</p>
<pre><code>&lt;el-table :data=&quot;list&gt;
  &lt;el-table-column label=&quot;项目状态&quot; align=&quot;center&quot; prop=&quot;status&quot;&gt;
    &lt;template slot-scope=&quot;{ row }&quot;&gt;
      &lt;span v-if=&quot;row.status === &#39;1&#39;&quot;&gt;意向项目&lt;/span&gt;
      &lt;span v-if=&quot;row.status === &#39;2&#39;&quot;&gt;接触中&lt;/span&gt;
      ······
    &lt;/template&gt;
  &lt;/el-table-column&gt;
&lt;/el-table&gt;
</code></pre><p>使用函数进行赋值</p>
<pre><code>&lt;el-table-column label=&quot;项目状态&quot; align=&quot;center&quot; prop=&quot;status&quot;&gt;
  &lt;template slot-scope=&quot;{ row }&quot;&gt;
    {{ getProjectStatus(row.status) }}
    ······
  &lt;/template&gt;
&lt;/el-table-column&gt;

methods: {
  getProjectStatus(status) {

    // 1. 用switch返回
    let st = &#39;&#39;;
    switch(status) {
      case &#39;1&#39;: st = &#39;意向项目&#39;; break;   // 不能直接return &#39;意向项目&#39;
      ····
    }
    return st;

    // 2. 封装对象返回
    const statusObj = {
      &#39;1&#39;: &#39;: &#39;意向项目&#39;,
      ·····
    }
    return statusObj[status];

  }
}
</code></pre><p>使用计算属性，内部也可以使用switch和对象赋值</p>
<pre><code>&lt;el-table-column label=&quot;项目状态&quot; align=&quot;center&quot; prop=&quot;status&quot;&gt;
  &lt;template slot-scope=&quot;{ row }&quot;&gt;
    {{ getProjectStatus(row.status) }}
    ······
  &lt;/template&gt;
&lt;/el-table-column&gt;

computed: {
  getProjectStatus() {
    return (status) =&gt; {
      return this.statusObj[status]
    }
  },
}
</code></pre><h4 id="-">有排序时重置搜索</h4>
<p>表格列表有选项，有排序，重置清空所有选项和排序，主要是针对1.4版本，后续版本有重置方法可以调用。<br><img src="./toc/images/vue/项目08.png" alt="示例图片"></p>
<pre><code>handelReset(){
  // 重置
  // 清空搜索选项
  this.searchParams.star = &#39;&#39;;
  this.searchParams.keyword = &#39;&#39;;
  // 清空排序，具体根据排序方法判断
  this.sort({ column: null, order: null, p: null})
  // 清除排序样式
  let asceTh = document.querySelector(&#39;th.ascending&#39;);
  if(asceTh) {
    let asceThClass = asceTh &amp;&amp; asceTh.className;
    asceTh.className = asceThClass &amp;&amp; asceThClass.replace(/ascending /, &#39;&#39;);
  } 
  let dsceTh = document.querySelector(&#39;th.descending&#39;);
  if(dsceTh) {
    let dsceThClass = dsceTh &amp;&amp; dsceTh.className;
    dsceTh.className = dsceThClass &amp;&amp; dsceThClass.replace(/descending /, &#39;&#39;);
  } 
}
</code></pre><h3 id="el-form">el-form</h3>
<h4 id="rules-select-value-">rules判断select value为数值检测失效</h4>
<p>通过rules验证表单规则，el-select =&gt; options绑定的是数值类型时，会监测不到。   </p>
<pre><code>&lt;template&gt;
  &lt;el-form :model=&quot;formData&quot; :rules=&quot;rules&quot; ref=&quot;ruleForm&quot;&gt;
    &lt;el-form-item prop=&quot;progress_status&quot; label=&quot;项目进度状态&quot;&gt;
      &lt;el-select v-model=&quot;dataForm.progress_status&quot; placeholder=&quot;请选择&quot;&gt;
        &lt;el-option v-for=&quot;item in progress&quot; :value=&quot;item.id&quot; :label=&quot;item.name&quot; :key=&quot;item.id&quot;&gt;&lt;/el-option&gt;
      &lt;/el-select&gt;
    &lt;/el-form-item&gt;
  &lt;/el-form&gt;
  &lt;el-button @click=&quot;handleSave(&#39;ruleForm&#39;)&gt;提交&lt;/el-button&gt;
&lt;/template&gt;
&lt;script&gt;
  data() {
    return {
      dataForm: {
        progress_status
      },
      progress: [
        { id: 1, name: &#39;按计划进行&#39; },
        { id: 2, name: &#39;比计划提前&#39; },
        { id: 3, name: &#39;落后计划&#39; }
      ],
      rules: {
        progress_status: [
          { required: true, message: &quot;请选择项目进度状态&quot;, trigger: &quot;blur&quot; }
        ],
      }
    }
  },
  methods: {
    handleSave(formName) {
      // 提交
      this.$refs[formName].validate((valid) =&gt; {
        if(!valid) {
          return;
        }
      })
    }
  }
&lt;/script&gt;
</code></pre><p>提交之后<br><img src="./toc/images/vue/项目04.png" alt="展示">   </p>
<pre><code>// 将progress的id替换为字符串形式，即可
progress: [
  { id: &#39;1&#39;, name: &#39;按计划进行&#39; },
  { id: &#39;2&#39;, name: &#39;比计划提前&#39; },
  { id: &#39;3&#39;, name: &#39;落后计划&#39; }
],
</code></pre><p>提交之后<br><img src="./toc/images/vue/项目05.png" alt="展示"></p>
<h4 id="el-select-">el-select远程搜索赋初始值</h4>
<p>使用远程搜索时可能会有编辑页面，需要先赋初始值，可能会造成初始值显示的不是值，而是id。</p>
<pre><code>&lt;el-form-item prop=&quot;project_owner&quot; label=&quot;目前负责人&quot;&gt;
  &lt;el-select
    v-model=&quot;dataForm.project_owner&quot;
    placeholder=&quot;请输入姓名&quot;
    clearable
    :multiple=&quot;false&quot;
    filterable
    remote
    :remote-method=&quot;remoteMethod&quot;
    :loading=&quot;userLoading&quot;
    style=&quot;width: 100%&quot;&gt;
    &lt;el-option
      v-for=&quot;user in userList&quot;
      :key=&quot;user.user.data.id&quot;
      :label=&quot;user.user.data.name&quot;
      :value=&quot;user.user.data.id&quot;&gt;
      &lt;span style=&quot;float: left&quot;&gt;{{ user.user.data.name }}&lt;/span&gt;
      &lt;span style=&quot;float: right; color: #8492a6; font-size: 13px&quot;&gt;{{ user.user.data.mobile }}&lt;/span&gt;
    &lt;/el-option&gt;
  &lt;/el-select&gt;
&lt;/el-form-item&gt;

&lt;script&gt;
  data() {
    dataForm: {},
    userLoading: false,
    userList: []
  },
  methods: {
    getDetail() {
      api.getDetail().then(res =&gt; {
        this.dataForm = res.data;   //里面含有负责人id--project_owner
      })
    },
    remoteMethod (query) {
      // 搜索负责人
      let that = this;
      if(!query) {
        this.userList = [];
        return;
      }
      setTimeout(() =&gt; {
        that.userLoading = true;
        userApi.getUserList({
          limit: 0, 
          search: query
        }).then(response =&gt; {
          that.userList = response.body.data;
          that.userLoading = false;
        }, err =&gt; {
          that.$message.error(err.body.message);
          that.userLoading = false;
        })
      }, 200);
    },
  }
&lt;/script&gt;
</code></pre><p>直接这样写的话，由于v-model绑定值变化就会搜索一次，导致第一次是id值，并且会搜索一次。<br><img src="./toc/images/vue/项目06.png" alt="展示">   </p>
<p><strong>解决办法：获取详情后，拼接一个userList，第一次不进行搜索</strong><br>1、如果是多选情况，绑定的值会是一个数组，可以通过这个在搜索时进行判断   </p>
<pre><code>:multiple=&quot;true&quot;

getDetail() {
  api.getDetail().then(res =&gt; {
    this.dataForm = res.data;
    this.userList = res.data.data.owner.data;   // 如果结构不一致，需要拼接
  })
},
remoteMethod (query) {
  if(typeof(query) !== &#39;string&#39;) {  //新输入搜索的是字符串，初次获取会是数组
    return;
  }
  if(!query) {
    this.userList = [];
    ······
  }, 200);
},
</code></pre><p>2、单选时，可以在获取详情时放一个变量，表示是否为需要搜索的情况，第一次赋值不进行搜索。</p>
<pre><code>data() {
  isSearchUser: true,   //是否需要搜索
},
methods: {
  getDetail() {
    this.isSearchUser = false;   // 赋值只能放在调用接口外（内部好像因为异步性会导致没有效果）
    api.getDetail().then(res =&gt; {
      this.dataForm = res.data; 
      this.userList.push({   // 拼接userList
        user: {
          data: {
            &#39;id&#39;: this.dataForm.project_owner,
            &#39;name&#39;: this.dataForm.project_owner_name,
            &#39;mobile&#39;: this.dataForm.project_owner_mobile,
          }
        }
      })
    })
  },
  remoteMethod (query) {
    let that = this;
    if(!this.isSearchUser) {
      this.isSearchUser = true;
      return;
    }
    if(!query) {
      this.userList = [];
      ······
    }, 200);
  },
}
</code></pre><p>3、单选时，拼接失效<br>与第二种方法相似，但是搜索时进行判断，首次赋值。</p>
<pre><code>data() {
  isSearchUser: true,   //是否需要搜索
},
methods: {
  getDetail() {
    this.isSearchUser = false;   // 赋值只能放在调用接口外（内部好像因为异步性会导致没有效果）
    api.getDetail().then(res =&gt; {
      this.dataForm = res.data; 
    })
  },
  remoteMethod (query) {
    let that = this;
    if(!this.isSearchUser) {
      this.isSearchUser = true;
      query = this.dataForm.project_owner_name;  //用名字进行一次赋值搜索
    }
    if(!query) {
      this.userList = [];
      ······
    }, 200);
  },
}
</code></pre><h4 id="-el-">封装一个简易版的el远程搜索</h4>
<p>需求：输入的时候进行搜索，可以选择搜索到的值，如果没有搜索到，就用输入的值。<br>如果直接使用el远程搜索，没有搜索到时或者说没有选择搜索到的值时，失去焦点输入内容会是输入前的，不能满足没有搜索到使用输入的值。<br>思路：搜索部分直接使用el-input，下面用远程搜索的DOM元素，引入el之后，class可以公用，可以不考虑css部分。</p>
<pre><code>&lt;template&gt;
  &lt;div class=&quot;SearchUser&quot;&gt;
    &lt;el-input
      v-model=&quot;dataForm.party_a&quot;
      :placeholder=&quot;placeholder&quot;
      style=&quot;width: 100%&quot;
      @change=&quot;changePartAInput&quot;
      @click.native=&quot;handleInput&quot;
      @blur=&quot;blur&quot;
    &gt;&lt;/el-input&gt;
    &lt;!-- 搜索后的列表展示 --&gt;
    &lt;div class=&quot;el-select-dropdown&quot; v-show=&quot;isShowDropdown&quot;&gt;
      &lt;div v-if=&quot;customerList.length&quot; class=&quot;el-scrollbar&quot; style=&quot;&quot;&gt;
        &lt;div class=&quot;el-select-dropdown__wrap el-scrollbar__wrap&quot; style=&quot;margin-bottom: -16px; margin-right: -16px&quot;&gt;
          &lt;ul class=&quot;el-scrollbar__view el-select-dropdown__list&quot; style=&quot;position: relative&quot;&gt;
            &lt;div class=&quot;resize-triggers&quot;&gt;
              &lt;div class=&quot;expand-trigger&quot;&gt;
                &lt;div style=&quot;width: 324px; height: 1165px&quot;&gt;&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;contract-trigger&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;li 
              class=&quot;el-select-dropdown__item&quot; 
              :class=&quot;{selected: activeIndex === index}&quot;
              v-for=&quot;(item, index) in customerList&quot; 
              :key=&quot;item.id&quot;
              @click=&quot;handlePartyA(index)&quot;
            &gt;
              &lt;span&gt;{{ item.company}}&lt;/span&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;p v-else class=&quot;el-select-dropdown__empty&quot; style=&quot;line-height: 22px;&quot;&gt;{{searchInfo}}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;
&lt;script&gt;
import customerApi from &quot;@/api/customer&quot;;
export default {
  props: {
    dataForm: {
      type: Object,
      default() {
        return {};
      },
    },
    placeholder: {
      type: String,
      default: &quot;请输入单位名称&quot;,
    },
  },
  data() {
    return {
      customerList: [],   // 搜索列表
      activeIndex: -1,   // 选择列表的下标
      isShowDropdown: false,   // 是否展示列表
      searchInfo: &#39;无数据&#39;,   // 加载中/无数据
      timer: &#39;&#39;   //定时器
    };
  },
  methods: {
    handleInput() {
      // 点击时
      this.isShowDropdown = !this.isShowDropdown;
    },
    changePartAInput(e) {
      // 甲方内容改变时处理
      this.isShowDropdown = true;
      this.customerList = [];
      this.activeIndex = -1;
      if(e === &#39;&#39;) {
        this.$emit(&quot;updatePartyA&quot;, e);
        this.searchInfo = &#39;无数据&#39;;
        return;
      }
      this.searchInfo = &#39;加载中&#39;;
      clearTimeout(this.timer);
      // 添加定时器延时搜索，防止可能搜索两次
      this.timer = setTimeout(() =&gt; {
        customerApi.getVipCustomerList({
          keyword: e,
          include: &#39;contacts,industry&#39;,
          limit: 0
        }).then(res =&gt; {
          this.customerList = res.data.data;
          if(!this.customerList.length) {
            this.searchInfo = &#39;无数据&#39;;
          }
        }, err =&gt; {
          this.$message.error(err.data.message);
        })
      }, 200);
      // this.$emit(&quot;updatePartyA&quot;, e);   //这里可以传给父组件一个方法，进行一些其它操作，如判断输入值是否合法
    },
    handlePartyA(index) {
      // 选择列表内容
      this.isShowDropdown = false;
      this.activeIndex = index;
      this.dataForm.party_a = this.customerList[index].company;
      this.$emit(&quot;handlePartyA&quot;, this.customerList[index]);   // 选择之后可能会返回信息处理其他输入
    },
    blur() {
      // 延时隐藏，否则选择列表无效
      setTimeout(() =&gt; {
        this.isShowDropdown = false;
      }, 300)
    }
  },
};
&lt;/script&gt;
&lt;style scoped lang=&quot;scss&quot;&gt;
.SearchUser {
  display: inline-block;
  position: relative;
  .el-select-dropdown {
    width: 100%;
  }
}
&lt;/style&gt;
</code></pre><h4 id="select-value-">select value绑定对象</h4>
<p>有时候可能需要联动处理，select选择时返回的是绑定的value值，但是想要点击时的对象值，如下<br><img src="./toc/images/vue/项目07.png" alt="展示联动">   </p>
<p>有一个用户对象，选择某个用户时，联系电话更新为相应用户的电话</p>
<pre><code>&lt;el-form-item prop=&quot;part_a_contacts&quot; label=&quot;甲方联系人&quot;&gt; 
  &lt;!-- value为对象时，必须绑定value-key值 --&gt;
  &lt;el-select v-model=&quot;partAContacts&quot; @change=&quot;changeContactA&quot; value-key=&quot;contact_name&quot;&gt;
    &lt;el-option v-for=&quot;item in contactAList&quot; :key=&quot;item.id&quot; :label=&quot;item.contact_name&quot; :value=&quot;item&quot;&gt;&lt;/el-option&gt;
  &lt;/el-select&gt;
&lt;/el-form-item&gt;
&lt;el-form-item prop=&quot;part_a_tel&quot; label=&quot;甲方联系电话&quot;&gt;
  &lt;el-input v-model=&quot;dataForm.part_a_tel&quot; name=&quot;part_a_tel&quot;&gt;&lt;/el-input&gt;
&lt;/el-form-item&gt;

data() {
  return {
    dataForm: {
      part_a_contacts: &#39;&#39;,  //联系人
      part_a_tel: &#39;&#39;,  //电话
    }
    partAContacts: {},   // 不直接绑定dataform里的数据
    contactAList: []  // 联系人列表
  }
},
methods: {
  getList() {
    // 一般需要调接口获取初始值
    this.contactAList = [
      { contact_mobile: &quot;15512341234&quot;, contact_name: &quot;张一旦&quot;, id: &quot;7mpykzrqm5lq48v3&quot; },
      { contact_mobile: &quot;17712341234&quot;, contact_name: &quot;张二旦&quot;, id: &quot;7mpykzrqm5lq48v4&quot; }
    ]
    // 如果需要默认选中第一个
    this.dataForm.part_a_contacts = this.contactAList[0].contact_name;
    this.dataForm.part_a_tel = this.contactAList[0].contact_mobile;
  },
  changeContactA(e) {
    this.$set(this.dataForm, &#39;part_a_contacts&#39;, e.contact_name);
    this.$set(this.dataForm, &#39;part_a_tel&#39;, e.contact_mobile);
  },
},
created() {
  this.getList();
}
</code></pre><p>这种方法可能编辑这种需要赋初始值的需要另作修改。</p>
<h3 id="others">others</h3>
<h4 id="el-dialog-">el-dialog封装为子组件时，弹窗关闭</h4>
<p>例如列表有编辑功能，将dialog封装为子组件时，由于显隐值通过props传参，关闭dialog相当于直接修改props值，会报错。
<img src="./toc/images/vue/项目09.png" alt="示例展示"><br>点击编辑展示弹窗<br><img src="./toc/images/vue/项目10.png" alt="示例展示">    </p>
<pre><code>// parent.vue
&lt;template&gt;
  &lt;el-button @click=&quot;handleEdit(scope.row)&gt;编辑&lt;/el-button&gt;
  &lt;edit-dialog :isShow.sync=&quot;isShowEdit&quot; :editData=&quot;editData&quot;&gt;&lt;/edit-dialog&gt;
&lt;/template&gt;

data() {
  return {
    isShowEdit: false,
    editData: {}
  }
},
methods: {
  handleEdit(row) {
    this.editData = row;
    this.isShow = true;
  }
}
</code></pre><pre><code>// edit.vue
&lt;template&gt;
  &lt;el-dialog 
    :visible.sync=&quot;isShow&quot; 
    :show-close=&quot;false&quot;
    :close-on-click-modal=&quot;false&quot;
    :before-close=&quot;handleClose&quot; 
  &gt;
    &lt;el-button @click=&quot;handleClose&quot;&gt;取消&lt;/el-button&gt;
  &lt;/el-dialog&gt;
&lt;/template&gt;

props: {
  isShow: Boolean,
  editData: {
    type: Object,
    default() {
      return {}
    }
  }
},
methods: {
  handleClose() {
    // 关闭
    this.$emit(&quot;update:isShow&quot;,!this.isShow);
  }
}
</code></pre>
          	</article>
        </div>
		</div>
  </body>
</html>
<script type="text/javascript" src="toc/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="toc/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="toc/js/ztree_toc.js"></script>
<script type="text/javascript" src="toc_conf.js"></script>

<SCRIPT type="text/javascript" >
<!--
$(document).ready(function(){
    var css_conf = eval(markdown_panel_style);
    $('#readme').css(css_conf)
    
    var conf = eval(jquery_ztree_toc_opts);
		$('#tree').ztree_toc(conf);
});
//-->
</SCRIPT>